@page
@model BookStoreRazorPage.Pages.BookPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Isbn" class="control-label"></label>
                <input asp-for="Book.Isbn" class="form-control" />
                <span asp-validation-for="Book.Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ReleaseYear" class="control-label"></label>
                <input asp-for="Book.ReleaseYear" class="form-control" />
                <span asp-validation-for="Book.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Version" class="control-label"></label>
                <input asp-for="Book.Version" class="form-control" />
                <span asp-validation-for="Book.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.IsActive" class="control-label"></label>
                <input asp-for="Book.IsActive" class="form-control" />
                <span asp-validation-for="Book.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Amount" class="control-label"></label>
                <input asp-for="Book.Amount" class="form-control" />
                <span asp-validation-for="Book.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <select asp-for="Book.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="Book.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Avatar" class="control-label"></label>
                <input asp-for="Book.Avatar" class="form-control" />
                <span asp-validation-for="Book.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
