@page
@using Service;
@model BookStoreRazorPage.Pages.BookInStorePages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Import Book</h1>
<hr />
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
    TempData.Clear();
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BookInStore.StoreId" type="hidden" value="StoreId" />
            <div class="form-group">
                <label asp-for="BookInStore.BookId" class="control-label"></label>
                <select asp-for="BookInStore.BookId" class ="form-control" asp-items="ViewBag.BookId">
                    <option value="0">-- Select a book to add --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BookInStore.Amount" class="control-label"></label>
                <input asp-for="BookInStore.Amount" class="form-control" type="number" required min="1"/>
                <span asp-validation-for="BookInStore.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
